<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        IKH - CoFly
    </title>
    <!-- Favicon -->
    <link href="./assets/img/brand/favicon.png" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <!-- CSS Files -->
    <link rel="stylesheet" href="css/reveal.css">
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/argon-dashboard.css" rel="stylesheet" />
 
 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    

    <!--Add mapbox.js -->
    <script src="https://api.tiles.mapbox.com/mapbox.js/v3.3.1/mapbox.js"></script>
    <link
      href="https://api.tiles.mapbox.com/mapbox.js/v3.3.1/mapbox.css"
      rel="stylesheet"
    />

    <!--Add draw plugin -->
    <!--Add draw plugin -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
    
    <script src='js/lib/leaflet.ajax.min.js'></script>
    <!-- <script src='./js/lib/leaflet.snogylop.js'></script> -->
    <link rel="stylesheet" href="css/timeline.css">
    <link rel="stylesheet" href="css/datetimepicker.css">

    <!-- Slick Library -->
    
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/slick-lightbox.css">
    


    
    
    <style type="text/css">
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}

        #delete, #export {
            position: absolute;
            top:50px;
            right:10px;
            z-index:100;
            background:white;
            color:black;
            padding:6px;
            border-radius:4px;
            font-family: 'Helvetica Neue';
            cursor: pointer;
            font-size:12px;
            text-decoration:none;
        }
        #export {
            top:90px;
        }

        path.leaflet-clickable {
    fill: rgb(254,200,64);
    stroke: rgb(254,200,64);
}

svg.leaflet-zoom-animated g:nth-child(n+2) path {
    fill: #fb0303;
    stroke: #fb0303;
}

path.CalculatedPathRender.leaflet-clickable:hover {
    opacity: 1 !important;
    cursor: auto !important;
}

svg.leaflet-zoom-animated g:nth-child(n+2):hover path{
    opacity: .5;
    cursor: url('./img/delete.png'), pointer;
}



.leaflet-top.leaflet-left {
    margin-top: 20%;
}


/* .leaflet-top.leaflet-left {
    display: none !important;
} */

.leaflet-top.leaflet-right {
    display: none !important;
}

.mapbox-control-info.mapbox-small.mapbox-control-info-right.leaflet-control {
    display: none !important;
}

li.nav-item.slider_inside_li .slider_title {
    margin-left: 10%;
    margin-top: 7%;
}

li.nav-item.slider_inside_li input[type="range"] {
    width: 64%;
    margin-left: 10%;
}

/* Test marker css */

.leaflet-popup-content-wrapper {
    background: transparent;
}

.leaflet-popup-tip {
    background: transparent !important;
    border: none;
}

a.leaflet-popup-close-button {
    position: absolute;
    left: 75px;
    z-index: 9;
    top: 40px;
}

.leaflet-popup-content img {
    position: absolute;
}


.leaflet-popup-content img {
    margin-left: -55px;
}

.f-modal-alert {
    background-color: #333;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin: 20px;
    padding: 50px;
    position: absolute;
    right: 27%;
    top: 33%;
    width: 25%;
    z-index: 9999;
    float: right;
}

h2.error_popup_title {
    color: #fff;
    width: 100% !important;
    min-width: 200px;
    position: absolute;
    top: -85%;
    left: -75%;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #fec840;
}

.f-modal-alert{
    display:none;
}


/* New button calculation of rgb vls */
div#calculate_rgb_vls {
    background: #fec840;
    padding: 24px;
    color: #000;
    cursor: pointer;
}

div#export_project {
    width: 100%;
    margin-left: 0;
    margin-top: 11%;
}


    </style>

</head>

<body class="">
    <div id="toast"></div>
    <div id="stiching_progress">

        <svg version="1.1" id="L3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
    <circle fill="none" stroke="#fff" stroke-width="4" cx="50" cy="50" r="44" style="opacity:0.5;"></circle>
      <circle fill="#fff" stroke="#fec840" stroke-width="3" cx="8" cy="54" r="6" transform="rotate(0.78084 50 48.0087)">
        <animateTransform attributeName="transform" dur="2s" type="rotate" from="0 50 48" to="360 50 52" repeatCount="indefinite"></animateTransform>
        
      </circle>
    </svg>
    
    <style>
    #stiching_progress svg {
        width: 100px;
        height: 100px;
        margin: 20px;
        display: inline-block;
      }

      div#stiching_progress p {
    font-size: 11px;
    padding: 10px;
    color: #fec840;
    margin: 0;
    text-align: center;
}

#stiching_progress svg {
    margin-left: 30px;
}

div#stiching_progress {
    display: none;
    position: absolute;
    bottom: 0%;
    left: 23%;
    z-index: 99;
    background: #101010;
}

    </style>
    
        <p>Stiching Progress is running</p>
        <p class="step_to_complete"><span id="stich_step">0</span> / 11</p>
    
    </div>

    <div class="f-modal-alert">
       <!--  <div class="f-modal-icon f-modal-error animate">
            <span class="f-modal-x-mark">
                <span class="f-modal-line f-modal-left animateXLeft"></span>
                <span class="f-modal-line f-modal-right animateXRight"></span>
            </span>
            <div class="f-modal-placeholder"></div>
            <div class="f-modal-fix"></div>
        </div> -->
        <div class="f-modal-icon f-modal-warning scaleWarning">
            <h2 class="error_popup_title">Excecution Path Cannot Be Done</h2>
            <span class="f-modal-body pulseWarningIns"></span>
            <span class="f-modal-dot pulseWarningIns"></span>
        </div>
        <!-- <div class="f-modal-icon f-modal-success animate">
            <span class="f-modal-line f-modal-tip animateSuccessTip"></span>
            <span class="f-modal-line f-modal-long animateSuccessLong"></span>
            <div class="f-modal-placeholder"></div>
            <div class="f-modal-fix"></div>
        </div> -->
    </div>
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
            <div class="container-fluid">
    
                <a class="navbar-brand pt-0" href="./index.html">
                    <img src="img/coFLY_logo.png" class="navbar-brand-img" alt="...">
                    <!-- <input type="file" webkitdirectory directory/>-->
                    <span id="communication_server" class="status offline"></span>
<!--<span class="status invisible"></span>
<span class="status idle"></span>
<span class="status offline"></span>-->
                </a>
    
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
    
                    <hr class="my-3 white">
    
                    <div class="input_holder">
                        <label>Plan Name</label>
                        <input id="plan_name" class="input_main" disabled>
                    </div>
    
                    <hr class="my-3 white">
    
                    <div class="double_sett_holder">
                        <div class="fifty_percent">
                            <h7><i class="fas fa-clock"></i> Duration</h7><span id="minutes_calc">--:-- Minutes</span></div>
                        <div class="fifty_percent">
                            <h7><i class="fas fa-vector-square"></i> Acres</h7><span id="acres_num">0 Acres</span></div>
                    </div>
    
                    <hr class="my-3 white">
    
                    <div style="width: 100%">
                        <div class="slider_title"><i class="fas fa-plane-departure"></i>
                            <label>Altitude</label>
                        </div>
                        <input type="range" class="input-range--custom altitude" min="0" max="300">
                        <input type="text" id="altitude_show" name="name" class="input_slider_shower"
           minlength="4" maxlength="8" size="1">
                    </div>
    
                    <hr class="my-3 white">
    
                    <div style="width: 100%">
                        <div class="slider_title"><i class="fas fa-undo"></i>
                            <label>Flight Direction</label>
                        </div>
                        <input type="range" class="input-range--custom direction" min="0" max="360">
                        <input type="text" id="direction_show" name="name" class="input_slider_shower"
           minlength="4" maxlength="8" size="1">
                    </div>
    <hr class="my-3 white">
    <div style="width: 100%">
        <div class="slider_title"><i class="fas fa-ruler-horizontal"></i>
            <label>Scanning Distance</label>
        </div>
        <input type="range" class="input-range--custom scanning_distance" min="0" max="20">
        <input type="text" id="scanning_distance_now" name="name" class="input_slider_shower"
minlength="4" maxlength="8" size="1">
    </div>
    <hr class="my-3 white">
    <div style="width: 100%">
        <div class="slider_title"><i class="fas fa-circle"></i>
            <label>Hotpoint Diameter</label>
        </div>
        <input type="range"  class="input-range--custom hotpoint_diameter" min="5" max="20">
        <input type="text" id="hotpoint_diameter_now" name="name" class="input_slider_shower"
minlength="4" maxlength="8" size="1">
    </div>
    <hr class="my-3 white">
                    <div style="width: 100%">
                       
                        
                        <div class="slider_title"><i class="fas fa-tachometer-alt"></i>
                            <label>Speed</label>
                        </div>

                    <input type="range" class="input-range--custom drone_speed_slider" min="1" max="10">
                    <input type="text" id="drone_speed" name="name" class="input_slider_shower" minlength="4" maxlength="8" size="1">
                </div>
    
                    <hr class="my-3 white">
                    <!-- Heading -->
                    <div class="collapsed_menu">
                        <h6 class="navbar-heading "><i class="fas fa-cogs"></i> Advanced<i class="fas fa-caret-down"></i></h6>
                        <ul class="navbar-nav mb-md-3 collapsed">
                            
                            <li class="nav-item slider_inside_li">
                                <div class="slider_title"><i class="far fa-compass"></i>
                                    <label>Gimbal Pitch</label>
                                </div>
                            <input type="range" class="input-range--custom gimbal_pitch" min="0" max="360">
                            <input type="text" id="gimbal_pitch" name="name" class="input_slider_shower" minlength="4" maxlength="8" size="1">
                            </li>


                            <li class="nav-item slider_inside_li">
                                <div class="input_holder part_of_ul">
                                    <label>Host</label>
                                    <input id="mqtt_host" class="input_main">
                                </div>
                            </li>

                            <li class="nav-item slider_inside_li">
                                <div class="input_holder part_of_ul">
                                    <label>Port</label>
                                    <input id="mqtt_port" class="input_main">
                                </div>
                            </li>

                            <li>
                                <div id="server_connection" class="button_full">SAVE &amp; RELOAD</div>
                                
                            </li>

    
                        </ul>
                    </div>
                    
                    <hr class="my-3 white">

                    <div class="collapsed_menu">
                        <h6 class="navbar-heading " id="photo_gallery_list"><i class="far fa-image"></i> Photo Gallery<i class="fas fa-caret-down"></i></h6>
                        <ul class="navbar-nav mb-md-3 collapsed gallery_list_dynamic">
                            
                            <li class="nav-item slider_inside_li">
                                <div class="slider_title">
                                    <label>Gimbal Pitch</label>
                                </div>
                           
                            </li>


                         

    
                        </ul>
                    </div>


                    <hr class="my-3 white">

                   


                    


    <!--
                    <div class="collapsed_menu">
                        <h6 class="navbar-heading "><i class="fas fa-road"></i> Fly My Map<i class="fas fa-caret-down"></i></h6>
                        <ul class="navbar-nav mb-md-3 collapsed">
       
                        </ul>
                    </div>
                    <hr class="my-3 white">
    -->
                    <div class="collapsed_menu">
                        <h6 class="navbar-heading project_gallery"><i class="far fa-image"></i> Photo Indices<i class="fas fa-caret-down"></i></h6>
                        <ul class="navbar-nav mb-md-3 collapsed project_gallery_render">
                            <!-- <div id="DrawOnMapGallery" class="button_full">DRAW ON MAP GALLERY</div> -->
                        </ul>
                    </div>
    
                    <hr class="my-3 white">
    
                    <div class="action_buttons_container">
                        <div id="calculate_path_planing" class="button_full">CALCULATE PATH</div>
                        <div id="calculate_path_planing_mission_two" style="width: 100%; margin: 0; margin-bottom: 12%;" class="button_full">CALCULATE PATH PROBLEMATIC AREAS</div>
                        <div id="cancel_scanning" style="display:none;" class="button_full" style="display: block;">ABORT</div>
                        <div id="start_scanning" class="button_full">START SCANNING</div>
                        <div id="lock_project" class="button_full">LOCK SETTINGS</div>
                      <div id="exit_button" class="button_hollow">EXIT</div>
                      <div id="save_button" class="button_full">SAVE</div></div>
                      <div id="export_project" class="button_full">EXPORT PROJECT</div>
                <input type="file" webkitdirectory="" name="export_proj" directory="" style="display:none !important;">
    
                </div>
    
            </div>
        </nav>

        

    
    <div class="main-content">

        <!-- Alert Box Scan Completed -->
        <div class="col-md-12" style="display:none;" id="scan_completed">
        
            <div class="scan_done weather col-md-6">
                <div class="container_weather">
                <div class="weather_icon"><img src="./img/sun_icon.png">
            <span id="weather_desc">Weather</span></div>
            
            <div class="weather_stats">
                
                <ul>
                    <li> <img src="./img/temperature.png"> <p>5 - 19 °C</p></li>
                    <li> <img src="./img/humidity.png"> <p>57 %</p></li>
                    <li> <img src="./img/wind_icon.png"><p> 4.1 km/h</p></li>
                    <li> <img src="./img/weather.png"><p> 19:40:14 </p></li>
                </ul>
            
            
            </div>
        </div>
            </div>
    <div class="scan_done col-md-6">

        <div class="success-checkmark">
            <div class="check-icon">
              <span class="icon-line line-tip"></span>
              <span class="icon-line line-long"></span>
              <div class="icon-circle"></div>
              <div class="icon-fix"></div>
            </div>
          </div>

          <h2>Scan Complete</h2>
          <ul class="action_list_done">

            <li is_enabled="0"><img src="./img/watering.png"></li>
            <li is_enabled="0"><img src="./img/watering.png"></li>
            <li is_enabled="0"><img src="./img/watering.png"></li>

          </ul>

          <textarea id="scan_complete_comments" rows="7" placeholder="Add any comment" cols="50"></textarea>
            <div class="send_button_scan_complete_container">
                <div id="save_scan_done_details"><span>SAVE</span></div>
            </div>
    </div>
        
        </div>


            <div class="reveal">

                    <!-- Any section element inside of this container is displayed as a slide -->
                    <div class="slides">
                        
                        <section class="present" >
                                <div id='map'></div>
                        </section>
        
                        <!-- Example of nested vertical slides -->
                        <section class="stack future" style="top: 0px; display: block;" data-previous-indexv="0" hidden="" aria-hidden="true">
                            <section style="top: 138px; display: block;" class="" aria-hidden="true">
                                <div id="timeline_div">
                                    
                                    <!-- AJAX LOAD TIMELINE .html 
                                    
                                    // NewTere
jQuery("div#timeline_div").load("scan_timeline.html");
                                    
                                    -->

                                </div> 
                                
                                
                                <div class="" style="position:absolute;width: 40%;bottom: 5%;left: 30%;" ng-app="dateTimeApp" ng-controller="dateTimeCtrl as ctrl" ng-cloak>
		
                                    <div date-picker
                                         datepicker-title="Select Date"
                                         picktime="true"
                                         pickdate="true"
                                         pickpast="false"
                                         mondayfirst="false"
                                         custom-message="You have selected"
                                         selecteddate="ctrl.selected_date"
                                         updatefn="ctrl.updateDate(newdate)">
                                    
                                        <div class="datepicker"
                                             ng-class="{
                                                'am': timeframe == 'am',
                                                'pm': timeframe == 'pm',
                                                'compact': compact
                                            }">
                                            <div class="datepicker-header">
                                                <div class="datepicker-title" ng-if="datepicker_title">{{ datepickerTitle }}</div>
                                                <div class="datepicker-subheader">{{ customMessage }} {{ selectedDay }} {{ monthNames[localdate.getMonth()] }} {{ localdate.getDate() }}, {{ localdate.getFullYear() }}</div>
                                            </div>
                                            <div class="datepicker-calendar">
                                                <div class="calendar-header">
                                                    <div class="goback" ng-click="moveBack()" ng-if="pickdate">
                                                        <svg width="30" height="30">
                                                            <path fill="none" stroke="#333" stroke-width="3" d="M19,6 l-9,9 l9,9"/>
                                                        </svg>
                                                    </div>
                                                    <div class="current-month-container">{{ currentViewDate.getFullYear() }} {{ currentMonthName() }}</div>
                                                    <div class="goforward" ng-click="moveForward()" ng-if="pickdate">
                                                        <svg width="30" height="30">
                                                            <path fill="none" stroke="#333" stroke-width="3" d="M11,6 l9,9 l-9,9" />
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="calendar-day-header">
                                                    <span ng-repeat="day in days" class="day-label">{{ day.short }}</span>
                                                </div>
                                                <div class="calendar-grid" ng-class="{false: 'no-hover'}[pickdate]">
                                                    <div
                                                        ng-class="{'no-hover': !day.showday}"
                                                        ng-repeat="day in month"
                                                        class="datecontainer"
                                                        ng-style="{'margin-left': calcOffset(day, $index)}"
                                                        track by $index>
                                                        <div class="datenumber" ng-class="{'day-selected': day.selected }" ng-click="selectDate(day)">
                                                            {{ day.daydate }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="timepicker" ng-if="picktime == 'true'">
                                                <div ng-class="{'am': timeframe == 'am', 'pm': timeframe == 'pm' }">
                                                    <div class="timepicker-container-outer" selectedtime="time" timetravel>
                                                        <div class="timepicker-container-inner">
                                                            <div class="timeline-container" ng-mousedown="timeSelectStart($event)" sm-touchstart="timeSelectStart($event)">
                                                                <div class="current-time">
                                                                    <div class="actual-time">{{ time }}</div>
                                                                </div>
                                                                <div class="timeline">
                                                                </div>
                                                                <div class="hours-container">
                                                                    <div class="hour-mark" ng-repeat="hour in getHours() track by $index"></div>
                                                                </div>
                                                            </div>
                                                            <div class="display-time">
                                                                <div class="decrement-time" ng-click="adjustTime('decrease')">
                                                                    <svg width="24" height="24">
                                                                        <path stroke="white" stroke-width="2" d="M8,12 h8"/>
                                                                    </svg>
                                                                </div>
                                                                <div class="time" ng-class="{'time-active': edittime.active}">
                                                                    <input type="text" class="time-input" ng-model="edittime.input" ng-keydown="changeInputTime($event)" ng-focus="edittime.active = true; edittime.digits = [];" ng-blur="edittime.active = false"/>
                                                                    <div class="formatted-time">{{ edittime.formatted }}</div>
                                                                </div>
                                                                <div class="increment-time" ng-click="adjustTime('increase')">
                                                                    <svg width="24" height="24">
                                                                        <path stroke="white" stroke-width="2" d="M12,7 v10 M7,12 h10"/>
                                                                    </svg>
                                                                </div>
                                                            </div>
                                                            <div class="am-pm-container">
                                                                <div class="am-pm-button" ng-click="changetime('am');">am</div>
                                                                <div class="am-pm-button" ng-click="changetime('pm');">pm</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div style="display:none;" class="section_two_actions_button"><span class="scan_info_title">Select Field Action:</span><ul class="add_new_action_calendar"><li is_enabled="0"><img src="./img/spray.png"></li><li is_enabled="0"><img src="./img/tractor.png"></li><li is_enabled="0"><img src="./img/watering.png"></li></ul></div>
                                            <div style="display:none;" class="section_two_actions_comments"><span class="scan_info_title">Write Extra Comments:</span><textarea placeholder="Comments" id="add_extra_field_comments" rows="4" cols="50"></textarea></div>

                                            
                                            <div class="buttons-container">
                                                <div id="cancel_field_action" class="cancel-button">CANCEL</div>
                                                <div id="add_field_action" can_save="0" class="save-button">NEXT</div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>


                                              





                                <div id="add_to_calendar_new_action" class="button_full">ADD NEW ACTION TO CALENDAR FIELD</div>


                                
                               
                            </section>
                            <section class="future" style="top: 0px;display: block;min-height: 100vh !important;min-width: 100vw !important;" hidden="" aria-hidden="true">
                                
                               <!-- Test Intergration -->
                               <link rel="stylesheet" href="css/gallery_style.css">
                               <div  class="viewport">
                                <div class="canvas">
                                    
                                    <div class="selected"></div>
                                </div>
                            </div>
                            <div class="map-container">
                                <div class="map">
                                   
                                </div>
                            </div>
                            <button class="back" id="back">back</button>
                            <div class="focus-container">
                                <button style=" margin-top: 1.9%; "class="focus" aria-labelledby="ally-zoom">
                                    <spa class="visuallyhidden" id="ally-zoom">expand image</spa>
                                </button>
                            </div>
                            <div class="zoom-container">
                                <div class="zoom">
                                    <div class="zoom__input">
                                        <input type="range" id="zoom" name="zoom" min="0.375" max=".75" value=".375" step="0.041666666666666664" orient="vertical" />
                                        <div class="lines">
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                        <label for="zoom" class="">zoom</label>
                                    </div>
                                    <div class="datalist">
                                        <div>[.750]</div>
                                        <div>[.562]</div>
                                        <div>[.375]</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mas">
                                <div class="v"></div>
                                <div class="h"></div>
                                <div class="r"></div>
                            </div>

                            <script  src="js/gallery.js"></script>
                               <!-- End of test integration gallery -->





                            </section>
                         
                        </section>
        
        
                    </div>
        
                </div>


            <div id="photo_picker_receiver_start"><div id="image_container">  

                <div style="display:none;"class="button_full_rgb_vls" index="ExG_stiched">ExG</div>
                <div style="display:none;" class="button_full_rgb_vls" index="ExG-ExR_stiched">ExG-ExR</div>
                <div class="button_full_rgb_vls" index="GLI.png">GLI 
                

                    <section class="model-7">
                        <div class="checkbox">
                          <input indeces_selection="gli_markers" type="checkbox"/>
                          <label></label>
                        </div>
                      </section>

                </div> 
               
                <div class="button_full_rgb_vls" index="NGBDI.png">NGBDI


                    <section class="model-7">
                        <div class="checkbox">
                          <input indeces_selection="nbgdi_markers" type="checkbox">
                          <label></label>
                        </div>
                      </section>

                </div> 
               
                <div class="button_full_rgb_vls" index="NGRDI.png">NGRDI<section class="model-7">
                    <div class="checkbox">
                      <input indeces_selection="ngrdi_markers" type="checkbox">
                      <label></label>
                    </div>
                  </section></div> 
                <div style="display:none;" class="button_full_rgb_vls" index="SAVI-GREEN_stiched">SAVI-GREEN</div>
                <div class="button_full_rgb_vls" index="VARI.png">VARI<section class="model-7">
                    <div class="checkbox">
                      <input indeces_selection="vari_markers" type="checkbox">
                      <label></label>
                    </div>
                  </section></div> 

            </div>
            
            <div id="open_image_settings_map">
                
                <!-- <i class="fas fa-wrench"></i>-->
                
                
            
            </div>
            <div id="close_map_photo_picker"><i class="fas fa-times"></i></div></div>
            <div id="photo_wizard_start">
                
                <div class="dirs">

                    <div class="rotate"><i class="fas fa-undo"></i><span>Rotate Left</span></div>
                
                    <div class="left"><i class="fas fa-arrow-left"></i><span>Move Left</span></div>
                    <div class="up"><i style=" transform: rotate(-90deg); " class="fas fa-arrow-right"></i><span>Move Up</span></div>
                    <div class="down"><i style=" transform: rotate(90deg); " class="fas fa-arrow-right"></i><span>Move Down</span></div>
                    <div class="right"><i class="fas fa-arrow-right"></i><span>Move Right</span></div>
                
                    <div class="rotate_neg"><i style="transform:scaleX(-1)" class="fas fa-undo"></i><span>Rotate Right</span></div>
                </div>

                <div id="save_settings_img"><i class="fas fa-save"></i><span>Save</span></div>
            
            </div>
        <div id="lightbox"><div class="close_image_shower">X</div></div>

            <!-- PROCESS LOADER -->

            <div id="Loader_Proccess_PopUp" class="card">
                <div style="display: flex; flex-wrap: wrap; align-items: center; justify-content: center; padding: 60px 0;">
                  <div class="card__circle">
                    <div class="folder">
                      <div class="folder__bg"><img width="100%" src="./img/loader2.gif"></div>
                      <div style="display:none;" class="folder__page3"></div>
                      <div style="display:none;" class="folder__page2"></div>
                      <div style="display:none;" class="folder__page1"></div>
                      <div style="display:none;" class="folder__front"></div>
                    </div>
                  </div>
                  <div class="card-information">
                    <div class="card-information__title">Processing...</div>
                    <div class="card-information__text">Please wait while we set things up for you!</div>
                  </div>
                </div>
              </div>

            <!-- END PROCESS LOADER -->




        <div id="pop_up_container">
    <div class="pop_up_content">
        <p>Please fill out the form, also do not forget create your polygon in order to specify area field </p><div class="button_all_ok">OK</div></div></div>
        <!--<div class="loader_calculation"><img src="img/new_simple_logo.png"></div>-->
        <!-- Navbar -->
        <div class="Settings_Menu_Nav" style="display:none;"><img id="button_trig_menu" src="img/button_side_menu.png">
<ul style="display: none;" class="map_tools">

<li><i class="fas fa-mouse-pointer"></i><span>Select elements</span></li><li><i class="fas fa-draw-polygon"></i><span>Draw polygon</span></li><li><i class="fas fa-asterisk"></i><span>Add annotation</span></li><li><i class="fas fa-edit"></i><span>Edit elements</span></li><li><i class="fas fa-trash-alt"></i><span>Delete elements</span></li><li><i class="fas fa-download"></i><span>Export map</span></li>
    
<div id="close_tool_menu"><i class="fas fa-times"></i></div>

</ul>

</div>

<div class="slide_messages">
<ul style="display: none;" class="">

<p class="slide_message">Gallery Sync Started</p>
    
</ul>

</div>


<!-- Slick Slider & LightBox for detection images -->
<div class="hide_it" id="the_closer_of_slick">X</div>
<div  id="detection_carousel" style="position: absolute;bottom: 0;width: 100%;background: rgba(0,0,0,.8);" class="portfolio-slides hide_it">
    
    
  </div>

<!-- End Navbar -->
        <!-- Header -->

    




    </div>
    <script src="js/main_script.js"></script>
    <!--<script src="js/main_map.js"></script>-->
    <script src="js/load_project.js"></script>

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/datetime_picker_js.js"></script>
    
    

    <!-- Slick Slider Portfolios -->
    
    <script src="js/lib/slick.min.js"></script>
    <script src="js/lib/slick-lightbox.js"></script>


    <script src="js/reveal.js"></script>
    <script src="js/timeline_manager.js"></script>
        
    


		<script>

			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: false,
				center: true,
				hash: true,

				transition: 'convex', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true },
					{ src: 'plugin/search/search.js', async: true },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
            });
            



        </script>



    <style>
    .slides {
    zoom: 0 !important;
    width: 100% !important;
    height: 100% !important;
}



.slides {
    zoom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    transform: none !important;
    left: 0px !important;
    top: 0px !important;
}

section:nth-child(1) {
    top: 0px !important;
}


    </style>
        
       

  </body>

</html>